language: python
python:
    - "2.7"
before_install:
    - sudo apt-get install libblas-dev liblapack-dev gfortran
install: 
    - "pip install cython"
    - "pip install numpy"
    - "pip install scipy"
    - "pip install matplotlib"
    - "pip install docopt"
    - "pip install py"
    - "pip install pytest"
    - "pip install schema"
    - "pip install pandas"
    - "pip install seaborn"
    - "pip install six"
    - "pip install coverage"
    - "pip install coveralls"
script: 
    - "coverage run --source=piquant -m py.test test"
after_success:
    coveralls
