Cython>=0.20.1
OrdUtils>=0.1.0
Sphinx>=1.2.2
docopt>=0.6.1
matplotlib>=1.3.1
numpy>=1.8.0
pandas>=0.13.0
py>=1.4.20
pyparsing>=2.0.2
pytest>=2.5.2
python-dateutil>=2.2
pytz>=2014.2
schema>=0.3.0
scipy>=0.13.3
seaborn>=0.3.1
six>=1.6.1
